/* fonts family */

:root {
    --body-font : "Noto+Naskh+Arabic", sans-serif;
    --bs-btn-font-family : "Noto+Naskh+Arabic", sans-serif;
}

/* fonts color */

:root {
    --bs-blue: #4BA1A7;
    --bs-red: #F0756C;
    --bs-orange: #F5E9E9;
    --bs-yellow: #EFEAEA;
    --bs-green: #F5F8F1;
    --bs-teal: #EFE8EF;
    --bs-cyan: #F3F3F3;
    --bs-black: #111111; 
    --bs-white: #FFFFFF;
    --bs-gray: #777777; 
    
    --bs-link-color: #111111;
    --bs-link-color-rgb: 17, 17, 17;
    --bs-link-hover-color: #F0756C;
    --bs-link-hover-color-rgb: 240, 117, 108;
    
    --bs-primary: #F0756C;
    --bs-primary-rgb: 240, 117, 108;
    --bs-body-color: #111111;   
    --bs-info: #C3C3C3; 
    --bs-light-text-emphasis: #c3c3c3;
    
    --swiper-pagination-color: #F0756C;
}

body {
    --bs-blue: #4BA1A7;
    --bs-red: #F0756C;
    --bs-orange: #F5E9E9;
    --bs-yellow: #EFEAEA;
    --bs-green: #F5F8F1;
    --bs-teal: #EFE8EF;
    --bs-cyan: #F3F3F3;
    --bs-black: #111111; 
    --bs-white: #FFFFFF;
    --bs-gray: #777777;   
    --bs-info: #C3C3C3;
    background: #eff5f6;
    font-family: Noto+Naskh+Arabic;
    width: 99%;
	
}



.btn-primary {
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bs-orange);
    --bs-btn-border-color: var(--bs-orange);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-black);
    --bs-btn-hover-border-color: var(--bs-black);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: var(--bs-black); 
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: var(--bs-black);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: var(--bs-black);
    --bs-pagination-active-bg: #F5E9E9;
    --bs-pagination-active-border-color: #F5E9E9;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}

.bg-gray {
    background-color: var(--bs-gray) !important;
}

.bg-yellow {
    background-color: var(--bs-yellow) !important;
}

.bg-green {
    background-color: var(--bs-green) !important;
}

.bg-teal {
    background-color: var(--bs-teal) !important;
}

.navbar-nav a.nav-link:hover {
    color: var(--bs-primary) !important;
}

body {
    font-family: var(--body-font);
 
}

/* font size */
h2,h3,h4,h5,h6 {
    font-weight: 700;
	text-align: right;
}



.display-2,
.display-3,
.display-4,
.display-5 {
    font-weight: 700 ;
}
.p-6 {
    padding: 4rem !important;
}



/* navbar */
.img-logo {
    width: 300px;  
}

.navbar  {
    background:rgba(255, 255, 255, 0.87);
}

.navbar svg {
    color:#0d161f;
	margin-right: 20px;
	 width: 30px;
	height:30px;
}

.navbar svg :hover{
    color:#b99d6a;
	
}

.nav-logo  {
	 width: 50px;
	height:50px;
	margin-top:2px;
}

.navicons  {
	font-size:30px;
	margin:10px;
	color: #00485e;
}
.navicons :hover {	
	color: #006077;
}

.contact   {
  width:450px;
   justify-content: space-around;
	margin-top:30px; 
	border-radius:20px;
	 background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-itm  {
  display:inline-block; 		 
	 margin:20px;	
}

.contact-itm a {
	font-size:35px;
	color: #00485e;
    margin:25px;	
	position:relative; 	
	text-decoration:none; 
	text-align:center;
	 cursor:pointer;
}


.contact-itm a :hover {	
	color: #00485e;
}

.navicons3  {
	font-size:34px;
	color: #006077;
	margin:20px; 
	
	text-decoration:none; 
}
.navicons3 :hover {	
	color: #eff5f6;
}

.marquee {
 top:3px;
  height: 25px;
  width: 100%;
  overflow: hidden;
  position: absolute;
}


.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 11s linear infinite;
}

.marquee span {
  float: right;
  width: 50%;
   color:#006077;
  font-weight:400;
 font-family:Tajawal;
   text-decoration:none;
  font-size: 18px;
}

@keyframes marquee {
  0% { right: 0; }
  100% { right: -100%; }
}

        /* زر التبديل (Toggler) */
        .nav-toggler {
            position: fixed;
            top: 22px;
            left: 20px;
            background-color:rgba(255, 255, 255, 0);
            border: none;
            cursor: pointer;
            z-index: 1000;
        }

        /* حاوية التنقل (Nav) */
        .nav-sidebar {
            position: fixed;
            top: 0;
            left: -250px; /* مخفية في البداية */
            width: 250px;
            height: 100vh;
            background-color:rgba(22, 28, 39, 0.93);
            transition: left 0.3s ease;
            z-index: 999;
        }

        /* عند فتح القائمة */
        .nav-sidebar.active {
            left: 0;
        }

        /* قائمة الروابط */
        .nav-menu {
            list-style: none;
            padding: 20px 0;
            margin: 0;
            display: flex;
            flex-direction: column;
         
        }

        .nav-menu li {
            margin: 15px 0;
			
        }

        .nav-menu a {
           color:#eff5f6;
		   font-weight:400;
		   font-family:Tajawal;
           margin-right: 30px;
	 	  text-align:right;
	       text-decoration:none;
            font-size: 18px;
            transition: color 0.3s;
        }

        .nav-menu a:hover {
            color: #50b6ce;
        }
		
		

        /* زر الإغلاق */
        .close-btn {
            background: none;
            border: none;
            color: #ff5e5e;
            font-size: 20px;
            cursor: pointer;
            position: absolute;
            top: 15px;
            left: 15px;
        }


/* banner color */

.banner {
    margin-top:120px;
	align-items: center;
}

.img-3 {
    max-width:350px ;
	 background-color:#eff5f6;
    color: #0d161f;
	font-size: 1rem  ;
	font-family:Tajawal;
	border-radius: 45px;
	text-align:center;
	padding:2px;
	font-weight:500;
	opacity: 85%;
   }
 
.display-1 {
    font-size: 2.7rem;
    font-weight: 800 ;
   font-family:Tajawal;
	margin-top:70px;
	color: #eff5f6;
}

.banner-p {
    max-width:430px ;
	 background-color:#00485e;
    color: #fff;
	font-size: 1.2rem  ;
	font-family:Tajawal;
	border-radius: 25px;
	text-align:center;
	padding:15px;
	font-weight:400;
	margin-top:15px;
	margin-bottom:7px;
    line-height:1.8;
}



/* line height */

p.a {
    line-height: 10%;
}

.lh-small {
    line-height: 80%;
}

.ls-4 {
    letter-spacing: 0.2rem;
}

 .main-container {
            width: 100%;
            padding: 20px;
			font-family:Tajawal;
        }

        .main-title  {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 30px;
            color: #5d9cd7;
        }

        .sub-containers {
            display: flex;
            flex-wrap: wrap;
            gap: 45px;
            justify-content: center;
			margin-bottom: 45px;
        }

        .sub-container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 10px;
            flex: 1 1 45%;
            max-width: 500px;
            min-width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .sub-container img {
            width: 150px;
            height: auto;
			opacity: 95%;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .sub-title {
            font-size: 1.9rem;
            color:  #00485e;
        }

        .description {
            font-size: 1.2rem;
            color: #00485e;
            margin-bottom: 10px;
			text-align: right;
        }

        .browse-btn {
            padding: 6px 20px;
            background-color: #006077;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            align-self: flex-end;
        }

        .browse-btn:hover {
            background-color: #00485e;
        }


       

  .doctorate-container {
            background-color: #0f1e2e;
            border-radius: 15px;
            overflow: hidden;
            max-width: 1200px;
            width: 100%;
            position: relative;
			font-family:Tajawal;
			 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
 
        .header {
            background: #0f1e2e;         
            position: relative;
            overflow: hidden;
			
        }
      
        .title {
            font-size: 2rem;
            font-weight: 800;
            text-align: center;
            margin-top: 25px;
            position: relative;
			color: #eff5f6;
			 line-height:2.5;
        }
        .title i {
            color: #eff5f6;
            margin-left: 15px;
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            padding: 15px;
			
        }
        .image-container {
            flex: 1;
            min-width: 350px;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
			
        }
        .thesis-image {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            border-radius: 15px;
           opacity: 95%;
        }
       
        .details {
            flex: 1;
            min-width: 300px;
            padding: 20px;
        }
        .info-card {
            background: #006077;
            border-radius: 55px;
            padding: 30px;
            margin-bottom: 25px;
			width: 500px;
			display:inline-block; 
        }
		
		.info-card2 {
            border-radius: 55px;
            padding: 30px;
            margin-bottom: 25px;
			width: 500px;
			display:inline-block;
			margin:30px;
        }
		
        .thesis-title {
            font-size: 1.4rem;
            font-weight: 700;
            color: #eff5f6;
            margin-bottom: 20px;
			margin-right: 20px;
			margin-left: 20px;
            border-right: 3px solid #eff5f6;
            padding-right: 15px;
			line-height:1.7;
        }
        .detail-item {
            margin: 15px 0;
            display: flex;
            align-items: flex-start;
        }
        .detail-item i {
            color: #eff5f6;
            font-size: 1.2rem;
            margin-right: 70px;
            margin-top: 3px;
        }
        .detail-text {
            font-size: 1rem;
            line-height: 1.6;
			 color: #eff5f6;
			 margin-right: 10px;
        }
		
		 .detail-text2 {
            font-size: 1.3rem;
            line-height: 1.9;
			 color: #eff5f6;
			 margin-right: 10px;
			 text-align: right;
        }
		
        .buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
       
            justify-content: end;
			 margin-top: 40px;
        }
        .btn {
            flex: 1;
            max-width:450px;
            padding: 10px ;
            border-radius: 50px;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: none;
            position: relative;
            overflow: hidden;
            text-decoration: none;
        }
        .btn-download {
            background: linear-gradient(180deg, #1d558f, #1d778d);
            color:#eff5f6;
			
        }
         
        .btn:hover {
            background:#eff5f6;
           color:#0f1e2e;
        }
        .btn:active {
            transform: translateY(1px);
        }
        .btn-download:hover {
            background: #ffffff;
        }
        
        .academic-decoration {
            position: absolute;
            opacity: 0.1;
            color: #347bb9;
            font-size: 8rem;
            z-index: 0;
        }
        .decoration-1 {
            top: 10%;
            right: 5%;
        }
        .decoration-2 {
            bottom: 10%;
            left: 5%;
            transform: rotate(180deg);
        }
       
	

 /* Animation Effects */
        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(20px); }
            to { opacity: 1; transform: translateY(0); }
        }
        .image-container, .details {
            animation: fadeIn 0.8s ease-out forwards;
        }
        .image-container {
            animation-delay: 0.2s;
        }
        .details {
            animation-delay: 0.4s;
        }
        .buttons {
            animation: fadeIn 0.8s ease-out 0.6s forwards;
            opacity: 0;
        }
        .pulse {
            display: inline-block;
            animation: pulse 2s infinite;
        }
        @keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.05); }
            100% { transform: scale(1); }
        }
	
		
/* masonry */
.btn.is-checked {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}
/* paragraph color */
.postf {
    color: var(--bs-gray);
	text-align: right;
}

.postg {
    color: var(--bs-info);
}

/* width of container */

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1460px;
    }
}

/* testimonial */

.testimonial-card {
  background: var(--bs-black);
  color: var(--bs-white);
}

.testimonial-card .postd {
    color: var(--bs-red);
}



/* 3.5 FAQs
/*----------------------------------------------*/
.accordion-item{
    background: var(--bs-yellow);
  }
  h5 button.accordion-button{
    font-family: var(--body-font);
    background: var(--bs-yellow);
  }
  .accordion-button:focus {
    border: none;
    outline: 0;
    box-shadow: none;
  }
  .accordion-button:not(.collapsed) {
    background: none;
    box-shadow: none;
  }

  .accordion-button::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m12 13.171l4.95-4.95l1.414 1.415L12 16L5.636 9.636L7.05 8.222z'/%3E%3C/svg%3E");
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m12 13.171l4.95-4.95l1.414 1.415L12 16L5.636 9.636L7.05 8.222z'/%3E%3C/svg%3E");
    transform: rotate(180deg);
  }


/* styles page */
/* 
a {
    color: rgba(var(--bs-black), var(--bs-link-opacity, 1));
    text-decoration: none;
}

a:hover {
    --bs-black: var(--bs-link-hover-color-rgb);
} */

/* blog */

.page-link {
    color: var(--bs-black);
}

.page-link:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: var(--bs-pagination-hover-bg);
    border-color: var(--bs-pagination-hover-border-color);
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
}













 @media (max-width: 768px) {
	 .banner {
    margin-top:90px;
}	 
	 .img-logo {
    width: 180px;  
   }
   
   .navicons  {
	font-size:23px;
	margin:5px;
}
	   .navbar svg {
    width: 19px;
	height:19px;
	margin-right: 8px;
	
   }
   .nav-logo  {
	 width: 33px;
	height:33px;
	margin-top:9px;
   }
    .nav-toggler {
            position: fixed;
             top: 10px;
            left: 18px;
            background-color:rgba(255, 255, 255, 0);
            border: none;
            cursor: pointer;
            z-index: 1000;
        }

        /* حاوية التنقل (Nav) */
        .nav-sidebar {
            position: fixed;
            top: 0;
            left: -170px; /* مخفية في البداية */
            width: 170px;
            height: 100vh;
            background-color:rgba(22, 28, 39, 0.93);
            transition: left 0.3s ease;
            z-index: 999;
        }
    .nav-menu {
            list-style: none;
            padding: 15px 0;
            margin: 0;
            display: flex;
            flex-direction: column;
         
        }

        .nav-menu li {
            margin: 12px 0;
			
        }

        .nav-menu a {
           
		   font-weight:500;
		   font-family:Tajawal;
           margin-right: 20px;
	 	  text-align:right;
	       text-decoration:none;
            font-size: 14px;
            transition: color 0.3s;
        }

        

        /* زر الإغلاق */
        .close-btn {
            background: none;
            border: none;
            color: #ff5e5e;
            font-size: 15px;
            cursor: pointer;
            position: absolute;
            top: 10px;
            left: 10px;
        }
	 
	 .display-1 {
    font-size: 2rem;
    font-weight: 800 ;
   font-family:Tajawal;
  margin-right:15px;
    margin-top:55px;
   }
   
   
   
   .banner-p {
    max-width:315px ;	
	font-size: 0.90rem  ;
	padding:10px;
	font-weight:400;
	line-height:1.9;
	margin-top:15px;
   }
   
   .img-3 {
    max-width:320px ;
	border-radius: 45px;
	text-align:center;	 
	opacity: 80%;

   } 
	 
	  .main-container {
            width: 95%;
            padding: 1px;
			font-family:Tajawal;
        }

 
            .sub-containers {
                flex-wrap: wrap;
				gap: 20px;
                justify-content: space-between;
				margin-bottom: 35px;
            }

            .sub-container {
                flex: 1 1 45%;
                min-width: 45%;
                max-width: 48%;
                flex-direction: column;
                text-align: center;
                align-items: center;
				padding: 0;
            }
				.sub-container img {
            width: 100px;
            height: 100px;
			margin-top: 20px;
        }
		 .sub-title {
            font-size: 1.5rem;
            color:  #00485e;
			text-align: center;
        }

        .description {
            font-size: 1rem;
            color: #00485e;
            margin-bottom: 10px;
			text-align: center;
        }

        .browse-btn {
            padding: 8px 18px;   
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 0.8rem;
            align-self: center;
        }
		
		.doctorate-container {

       width: 95%;
      
        }
		 .content {
                flex-direction: column;
            }
            .title {
            font-size: 1.6rem;
            margin-top: 25px;
			 line-height:1;
        }
        .title i {
            color: #eff5f6;
            margin-left: 12px;
        }
			 .info-card {           
            padding: 25px;
			max-width:390px;
			width:99%;
    	  margin-bottom:1px;		
        }
		
		.info-card2 {
           padding-right: 10px;
		   max-width:390px;
			width: 99%;
			margin:15px;
        }
		.detail-item i {           
            font-size:1rem;
            margin-right: 55px;
            margin-top: 3px;
        }	
            .thesis-title {
                font-size: 1.1rem;
            }
            .detail-text {
                font-size: 0.9rem;
				text-align: right;
				margin-right: 10px;
            }
			.detail-text2 {
            font-size: 1rem;
            line-height: 2.2;
			 color: #eff5f6;
			 text-align: right;
        }
			 .btn-download {
            font-size: 1rem;
        }
            .btn {
                min-width: 100%;
            }
            .academic-decoration {
                font-size: 5rem;
            }
			
 }









@media only screen and (max-width: 600px)and (max-width: 480px)  {
 .banner {
    margin-top:85px;
}	 
 .img-logo {
    width: 180px;  
   }
   .navicons  {
	font-size:23px;
	margin:5px;
}
   .navbar svg {
    width: 19px;
	height:19px;
	margin-right: 8px;
   }
   .nav-logo  {
	 width: 33px;
	height:33px;
	margin-top:9px;
   }
    .nav-toggler {
            position: fixed;
            top: 10px;
            left: 18px;
            background-color:rgba(255, 255, 255, 0);
            border: none;
            cursor: pointer;
            z-index: 1000;
        }

        /* حاوية التنقل (Nav) */
        .nav-sidebar {
            position: fixed;
            top: 0;
            left: -170px; /* مخفية في البداية */
            width: 170px;
            height: 100vh;
            background-color:rgba(22, 28, 39, 0.93);
            transition: left 0.3s ease;
            z-index: 999;
        }
    .nav-menu {
            list-style: none;
            padding: 15px 0;
            margin: 0;
            display: flex;
            flex-direction: column;
         
        }

        .nav-menu li {
            margin: 12px 0;
			
        }

        .nav-menu a {
           
		   font-weight:500;
		   font-family:Tajawal;
           margin-right: 20px;
	 	  text-align:right;
	       text-decoration:none;
            font-size: 14px;
            transition: color 0.3s;
        }

        

        /* زر الإغلاق */
        .close-btn {
            background: none;
            border: none;
            color: #ff5e5e;
            font-size: 15px;
            cursor: pointer;
            position: absolute;
            top: 10px;
            left: 10px;
        }
   
   
  .banner {
    height: 600px;
   }
   
  .img-3 {
    max-width:270px ;
	border-radius: 45px;
	text-align:center;	 
	opacity: 80%;

   } 
   
  .display-1 {
    font-size: 1.9rem;
    font-weight: 800 ;
   font-family:Tajawal;
  margin-right:15px;
    margin-top:65px;
   }
   
   
   
   .banner-p {
    max-width:315px ;	
	font-size: 0.9rem  ;
	padding:12px;
	font-weight:400;
	line-height:1.9;
	margin-top:5px;
   }
   
    .main-container {
              width: 93%;
            padding: 1px;
			font-family:Tajawal;
        }

 
            .sub-containers {
                flex-wrap: wrap;
				gap: 20px;
                justify-content: space-between;
				margin-bottom: 35px;
            }

   
    .sub-container {
                 flex: 1 1 45%;
                min-width: 45%;
                max-width: 48%;
                flex-direction: column;
                text-align: center;
                align-items: center;
				padding: 0;
			
            }
			.sub-container img {
            width: 90px;
            height: 90px;
        }
		 .sub-title {
            font-size: 1.4rem;
            color:  #00485e;
			text-align: center;
        }

        .description {
            font-size: 0.85rem;
            color: #00485e;
            margin-bottom: 10px;
			text-align: center;
			font-weight: 500;
        }

        .browse-btn {
             padding: 8px 18px;             
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 0.8rem;
            align-self: center;
        }
		.doctorate-container {

       width: 95%;
      
        }
		 .content {
                flex-direction: column;
            }
             .title {
            font-size: 1.6rem;
            margin-top: 25px;
			 line-height:1;
        }
        .title i {
            color: #eff5f6;
            margin-left: 12px;
        }
			 .info-card {           
            padding: 20px;
			max-width:370px;
			width: 100%;
			 margin-bottom:1px;	
			 border-radius:20px;	
        }
		
		.info-card2 {
           padding: 20px;
		   max-width:370px;
			width: 100%;
			 margin-bottom:1px;	
			 margin:1px;
		  
        }
			
            .thesis-title {
                font-size: 1rem;
            }
			
			.detail-item i {           
            font-size:0.9rem;
            margin-right: 15px;
            margin-top: 3px;
        }	
            .detail-text {
               font-size: 0.95rem;
				text-align: right;
				margin-right: 10px;
            }
			.detail-text2 {
            font-size: 1rem;
            line-height: 2.2;
			 color: #eff5f6;
			 text-align: right;
        }
			 .btn-download {
            font-size: 1rem;
        }
            .btn {
                min-width: 100%;
            }
            .academic-decoration {
                font-size: 5rem;
            }
}
